services:
  api:
    environment:
      LOG_LEVEL: info 
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M

  db:
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
