name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: pytest || echo "No tests available"

  build:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.GHCR_REGISTRY }}
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build Docker image
        run: |
          IMAGE_NAME="ghcr.io/${{ secrets.GHCR_USERNAME }}/branch-loans-api"
          TAG="${{ github.sha }}"
          docker build -t $IMAGE_NAME:$TAG .

      - name: Security Scan (Trivy)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ghcr.io/${{ secrets.GHCR_USERNAME }}/branch-loans-api:${{ github.sha }}
          severity: CRITICAL
          exit-code: 1 

      - name: Push Docker image
        if: github.event_name == 'push'
        run: |
          IMAGE_NAME="ghcr.io/${{ secrets.GHCR_USERNAME }}/branch-loans-api"
          TAG="${{ github.sha }}"
          docker push $IMAGE_NAME:$TAG
